<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.train.amm">

    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.SEND_SMS" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.PROCESS_OUTGOING_CALLS" />
    <uses-permission android:name="android.permission.RECEIVE_SMS" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".ServiceForBroadActivity"></activity>
        <activity android:name=".MusicPlayerActivity" />
        <activity android:name=".RecorderActivity" />
        <activity android:name=".StartServiceActivity" />
        <activity android:name=".MyBroadCastActivity" />
        <activity android:name=".BlackMailActivity" />
        <activity android:name=".IpCallActivity" />
        <activity android:name=".CallbackActivity" />
        <activity android:name=".ContactActivity" />
        <activity android:name=".FinishActivity" />
        <activity android:name=".LunchModeActivity" />
        <activity android:name=".LookLifeActivity2" />
        <activity android:name=".LookLifeActivity" />
        <activity android:name=".ScoreShowActivity2" />
        <activity android:name=".ScoreShowActivity" />
        <activity android:name=".PassDataActivity" />
        <activity android:name=".XutilDownloadActivity" />
        <activity android:name=".ThreadDownloadActivity" />
        <activity android:name=".NewsClientActivity" />
        <activity android:name=".HtmlSourceActivity" />
        <activity android:name=".SmartImageActivity" />
        <activity android:name=".NetImageCacheActivity" />
        <activity android:name=".NetImageActivity" />
        <activity android:name=".ConfirmCancelActivity" />
        <activity android:name=".ArrayListViewActivity" />
        <activity android:name=".ListViewActivity2" />
        <activity android:name=".ListViewActivity" />
        <activity android:name=".ShowDataActivity" />
        <activity android:name=".MyOpenHelper" />
        <activity android:name=".BackMessageActivity" />
        <activity android:name=".LoginActivity_01" />
        <activity android:name=".LoginActivity" />
        <activity android:name=".LayoutActivity" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <receiver android:name=".broadcast.CallReceiver">
            <intent-filter>
                <action android:name="android.intent.action.NEW_OUTGOING_CALL" />
            </intent-filter>
        </receiver>
        <receiver android:name=".broadcast.SmsReceiver">
            <intent-filter android:priority="1000">
                <action android:name="android.provider.Telephony.SMS_RECEIVED" />
            </intent-filter>
        </receiver>
        <receiver android:name=".broadcast.SdCardReceive">
            <intent-filter>
                <action android:name="android.intent.action.MEDIA_MOUNTED" />
                <action android:name="android.intent.action.MEDIA_UNMOUNTED" />
                <action android:name="android.intent.action.MEDIA_REMOVED" />

                <data android:scheme="file" />
            </intent-filter>
        </receiver>
        <receiver android:name=".broadcast.BootReceiver">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>
        <receiver android:name=".broadcast.AppStatusReceiver">
            <intent-filter>
                <action android:name="android.intent.action.PACKAGE_ADDED" />
                <action android:name="android.intent.action.PACKAGE_REPLACED" />
                <action android:name="android.intent.action.PACKAGE_REMOVED" />

                <data android:scheme="package" />
            </intent-filter>
        </receiver>
        <receiver android:name=".broadcast.MyReceiver">
            <intent-filter>
                <action android:name="com.train.action" />
            </intent-filter>
        </receiver>
        <receiver android:name=".broadcast.MyOrderReceiver1">
            <intent-filter android:priority="1000">
                <action android:name="com.train.order" />
            </intent-filter>
        </receiver>
        <receiver android:name=".broadcast.MyOrderReceiver2">
            <intent-filter android:priority="800">
                <action android:name="com.train.order" />
            </intent-filter>
        </receiver>
        <receiver android:name=".broadcast.MyOrderReceiver3">
            <intent-filter android:priority="600">
                <action android:name="com.train.order" />
            </intent-filter>
        </receiver>
        <receiver android:name=".broadcast.BootRecorderReceiver">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>

        <service android:name=".service.MyService" />
        <service android:name=".service.RecordService" />
        <service android:name=".service.MusicService" />
        <service android:name=".service.RegisterBroadService"/>
    </application>

</manifest>